/*Estilos globales*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: 
    url(../img/fondo.jpg)
    ;
    background-attachment:fixed;
}
@font-face {
    font-family: 'kgredhads';
    src: url(../fuentes/kgredhads.ttf)
}
@font-face {
    font-family: 'caviardreamsI';
    src: url(../fuentes/CaviarDreams_Italic.ttf);
}

/**----ENCABEZADO------**/
header{
    width: 100%;
    height: auto;
    background-color: #517257;
}

.icono{
    padding: 25px;
    display: flex;
    position: absolute;
    align-items: center;
}

.icono h1{
    margin-left: 10px;
    color:white;
    font-size: 2rem;
    font-family: kgredhads;
}


.logo{
    width: 100px;
    border-radius: 25px;
}
/*menu*/
.menu{
    padding: 35px;
    list-style: none;
    display: flex;
    position: relative;
    justify-content:center;
}
.menu ul{
    margin-left: 23%;
}
.menu ul li{
    display: inline-block;

}
.menu ul li.op{
    background-color: #415c46;

}
.menu ul a{
    text-decoration: none;
    display: flex;
    outline: none;
    font-size: 1.2rem;
    justify-content: space-around;
    padding: 15px;
    color: bisque;
    opacity: 0.5;
    font-family: kgredhads;


}

.menu ul li a.activo{
    opacity: 1;
    border-radius: 5%;
}
.menu ul li a:hover{
    opacity: 1;
    color: #517257;
    background-color: white;
    border: 1px solid bisque;
}

/*-------------PIE DE PAGINA------------------*/

footer{
    margin-top: 5%;
    background-color: #517257;
    height: 80px;
    display: flex;
    justify-content: center;
}
.pie{
    width: 90%;
    height: 65%;
    border-top: 1px solid white;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.copy_icono img{
    width: 30px;
    height: 24px;
}

.copy_icono span{
    font-size: 1rem;
    font-family: caviardreamsI;
}
.pie ul li{
    display: inline-block;
}
.pie ul li a span {
    color: black;
}
.pie ul li a span{
    color: bisque;
} 