@font-face {
    font-family: LEMONMILK-MEDIUM;
    src: url(../fuentes/LEMONMILK-Medium.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: floralwhite   ;
    margin:  0 auto;
    padding: 22px 0;
    width: 940px;
}


header{
    width: auto;
    height: 250px;
}
.logo{
    position: absolute;
    width: 180px;
    padding: 5px;


}


.logo:hover{
    width: 200px;
}

.titulo{
    position: relative;
    margin-left: 35%;
    padding: 5px;
    text-align: center;
}


/*navegacion*/

ul li{
    list-style: none;
}
nav{
    background-color: #3d3d3d;
    z-index: 2;
    left: 0;
    padding-bottom: 10px;
    position: relative;
    width: 1000px;
    height: 40px;
    
}
.navegacion{
    background-color: rgb(44, 44, 44);
    z-index: 3;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40px;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.navegacion ul{
    list-style: none;
    
}
.menu  li{
    position: relative;
    display: inline-block;
    list-style: none;
    text-align: center;
    
    
}
.menu li a{
    color:aliceblue;
    text-decoration: none;
    display: block;
    padding: 10px 20px;

}
.menu li a:hover{
    color:rgb(67, 82, 79);
}

.menu li a:hover+.sub-menu{
    display: block;
}
/*sub-menu*/
.sub-menu{
    position: absolute;
    width: 190px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1,5s;
    background-color:cadetblue;
    align-items: center;

}

.sub-menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.menu li:hover .sub-menu{
    visibility: visible;
    opacity: 1;


}

/*------*/


.banner_estatico {
    display: flex;
    position: relative;
    margin-top: 120px;
    padding: 20px;
    background-size: 100%;
    border-radius: 22px;
    font-family: 'Victor Mono', monospace;
    background-image: url(../img/banner3.jpg);
    box-shadow: 3px 3px 7px #0f9b0f ;
}

.banner_estatico h2,
.banner_estatico p {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
}

.banner_estatico h2 {
    display: flex;
    padding:  100px 0 0 8px;
    font-weight: normal;
    color: #0f9b0f;
    font-size: 50px;
    text-align: center;
    font-family: 'Victor Mono', monospace;
    
}

.banner_estatico p {
    padding: 0 0 0 70px;
    color: #2a2929;
    font-size: 20px;
    text-align: justify;
    text-decoration: dotted;
}

.banner_estatico img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 22px;
}

.contenido {
    display: table;
}

.entidad {
    display: table-cell;
    width: 620px;
    padding-right: 22px;
}

/*SECCION ARTICULO*/

.articulo p{
    text-align: justify;
}
.articulo header p,
.articulo header p a {
    font-size: 14px;
    font-style: italic;
    color: #777;
    
}

.articulo header p a:hover {
    text-decoration: none;
    color: #000;
}

.articulo div {
    /* El recuento de columnas  */
    column-count: 2;
    /* El espacio entre columnas  */
    column-gap: 50px; 
}

.articulo img {
    margin: 22px 0;
    box-shadow: 3px 3px 7px #777;
    border-radius: 5px;
}


/*SECCION COMENTARIOS*/

#comentarios {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

#comentarios article {
    display: table;
    padding: 22px;
}

.pub, .articulo a {
    color: #999;
    font-style: italic;
}

#comentarios article:nth-child(odd) {
    padding: 21px;
    background: #E3E3E3;
    border: 1px solid #d7d7d7;
    border-radius: 11px;
}

#comentarios article div {
    display: table-cell;
    width: 220px;
    padding-right: 22px;
}

#comentarios article div a {
    display: block;
    font-weight: bold;
    color: #000;
}

#comentarios article div a:hover {
    text-decoration: none;
}

#comentarios article p {
    padding: 0;
}

/*SECCION FORMULARIO*/

form {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

form p {
    display: table;
    margin-bottom: 22px;
    padding: 0 22px;
}

form label {
    display: table-cell;
    width: 140px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

form input[type="text"],
form input[type="email"],
form input[type="url"] {
    display: table-cell;
    width: 300px;
    height: 20px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

form input[type="submit"] {
    display: table-cell;
    width: 80px;
    height: 30px;
    background-color: #373738;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Victor Mono', monospace;
}

form textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #d7d7d7;
    
}

form input[type="submit"] {
    margin-left: 162px;
}

/*SECCION LATERAL*/

aside {
    display: table-cell;
    width: 300px;
}
aside section {
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    border-radius: 11px;
}
aside section a {
    display: block;
    text-decoration: none;
    color: #000;
    margin: 0 0 0 22px;
    list-style: none;
    padding-bottom: 10px;
}
aside section a:hover {
    text-decoration: underline;
}
section img{
    border-radius: 3px;
    box-shadow: 3px 3px 7px #777;
}











/*Pie de pagina*/
footer{
    position: absolute;
}

.pie{
    
    background-color: #3d3d3d;
    width: 1000px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;

}

.pie section{
    position: relative;
    display: table-cell;
    width: 400px;
    margin-left: 10%;
    margin-right: 10%;

}

.pie section p{
    opacity: 0.6;
}

.pie section h3{
    padding: 10px;
    text-align: center;
}
.pie section a{
    font-size: 1rem;
    text-decoration: none;
    color: aliceblue;
    opacity: 0.6;

}

.pie section a:hover{
    opacity: 1;
    
}
.pie section ul{

}
.pie section li{
}

.pie section svg{
    width: 25px;
    height: 25px;
    margin-right: 50px;


}